
/*=== Colors ===*/

/* Refocdes Green */
$light-green: #6de9ba;
$dark-green: #427f7d;
$green-hover: #98f1ce;
$green-border: #83cbca;

/* Banner */
$charcoal: #5a626c;
$white: #ffffff;

/* Navbar and Form */
$space-grey: #f4f5f7;
$light-grey: #a7abb1;

/* Referral Deal Text */
$dark-grey: #3c4154;

/* Facebook */
$facebook: #4661a3;
$facebook-hover: #798ebf;
$facebook-border: #516ba4;

/* Twitter */
$twitter: #00aaf4;
$twitter-hover: #63c9f4;
$twitter-border: #00aaf4;


/*=== Font Stack ===*/

/* Headers */
$primary-font: normal 100% 'Montserrat', Arial, sans-serif;

/* Menu Items, Labels and Secondary Text */
$secondary-font: normal 300 100% 'Merriweather', serif;


/*=== Device Widths ===*/

$width-small: 900px;
$width-medium: 1100px;
$width-large: 1200px;
$width-xlarge: 1400px;

