<%= link_to "Claim this", referral_claim_path(referral), remote: true, class: 'btn btn-info' %>

<div class="js-referral-<%= referral.id %>-claims">
  <%= pluralize(referral.claims.count, 'claim') %> 
</div>