#about
  %h4 Who created this site?

  %p
    This site was created by <a href="http://jaredrader.com">Jared Rader</a>, an avid learner and web developer. The site design belongs to <a href="http://willfunk.com">Will Funk</a>.</p>

  %p
    Check out
    %a{ href: "http://www.jaredrader.com/blog/2014/02/12/refcodes/"}
      Jared's blog
    where he explains why he created Refcodes.

  %h4 Where do these links come from? Are they safe?

  %p
    These links come directly from the companies, who give them to their users for the purpose of increasing growth. They are safe.

  %p
    We actively moderate the site to ensure no one posts spam or expired links.

  %br
  %br

  %p
    &copy; Jared Rader #{Time.zone.now.year}
