<div id="container-right">
  <div id="about">
    <h3><%= link_to "<- back to Refcodes", root_url %></h3>
    <h4>Who created this site?</h4>
    <p>This site was created by <a href="http://jaredrader.com">Jared Rader</a>, an avid learner and web developer. The site design belongs to <a href="http://willfunk.com">Will Funk</a>.</p>
    <p>Check out <a href="http://www.jaredrader.com/blog/2014/02/12/refcodes/">Jared's blog</a>, where he explains why he created Refcodes.</p>
    <h4>Where do these links come from? Are they safe?</h4>
    <p>These links come directly from the companies, who give them to their users for the purpose of increasing growth. They are safe.</p>
    <p>We actively moderate the site to ensure no one posts spam or expired links.</p>
    <br>
    <br>
    <p>&copy; Jared Rader 2014</p>
  </div>
</div>
