#referral-deals
  - if @referrals.any?
    = render @referrals
    = link_to 'Load More Referrals', params.permit(:page).merge(page: @referrals.next_page), class: 'load-more-referrals',
      remote: true if @referrals.next_page
  - else
    %p
      We couldn't find any referrals from your search query.
