/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require social-share-button
 *= require_self
 *= require_tree .
 */

.message {
  margin-top: 22px;
}

.referrals-list {
  max-height: 1000px;
  overflow: scroll;
  border-left: 1px solid #ccc;
  padding-left: 15px;
}

.ref-form {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 5px 5px 2px #ccc;
  padding-bottom: 10px;
}

.social-share {
  min-height: 145px !important;}

.buttons {
  position: absolute;
  bottom: 0;
}

.fb-share {
  vertical-align: top;
}