@import 'bootstrap';

.affix {
  width: 360px;
  top: 60px; 
}

.latest {
  margin-right: 8px;
}

.message {
  margin-top: 22px;
}

.referral-details {
  margin-top: 0px;
}

.referral.hover {
  background: #FAFAFA;
}

.buttons {
  padding-top: 25px;
}

.claim-button {
  vertical-align: middle;
}

.claim-count {
  font-size: 24px;
}

.social-share-buttons {
  display: inline-block;
  vertical-align: middle;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}