  <div class="row">
    <div class="col-md-6">
      <h1>Refcod.es</h1>
      Referral discounts for great tech<br>
      products and services
    </div>
    <div class="col-md-6 message">
      Saving money on tech products and services should be easy. That's why we created Refcodes.
      Share referral discounts for your favorite web products and services, and redeem discounts for others you want to try out.
      <br>
      <span class="pull-right">Thanks!</span>
    </div>
  </div>
  <ul class="nav nav-tabs">
    <li class="pull-right" data-toggle="modal" data-target="#about"><a href="#">About</a></li>
  </ul>
  <br>


<!-- Modal -->
<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel">About this site</h4>
      </div>
      <div class="modal-body">
        <h4>Who created this site?</h4>
        <p>This site was created by <a href="http://jaredrader.com">Jared Rader</a>, an avid learner and web developer, with some design help from <a href="http://willfunk.com">Will Funk</a>.</p>
        <p>Check out <a href="http://www.jaredrader.com/blog/2014/02/12/refcodes/">Jared's blog</a>, where he explains why he created Refcodes.</p>
        <h4>Where do these links come from? Are they safe?</h4>
        <p>These links come directly from the companies, who give them to their users for the purpose of increasing growth. They are safe.</p>
        <p>We actively moderate the site to ensure no one posts spam or expired links.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>